.App-link {
  color: #61dafb;
}
.active{
  color:black;
}
.image{
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  /* object-fit: cover; */
}
.header{
  font-size: 80px;
  color: red;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  margin: auto;
}
.article{
  height: 100%;
  position: relative;
  overflow: hidden;
}
.text1{
  text-align: center;
  margin: auto;
  color: orangered;
  font-size: xx-large;
  width: 70%;
}
.below{
  background-color: brown;
  width: 100%;
  height: 80vh;
  margin-top: 30px;
}
.text2{
  color: white;
  text-align: center;
  font-size: large;
  width: 80%;
  margin: auto;
}
.card{
  text-align: center;
  margin: auto;
  justify-content: space-around;
  display: flex;
}
.cards{
  transition-delay: 3s;
}
.cards:hover{
  transform: scale(1.1);
}